{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <img class="img-rounded" src="http://www.gravatar.com/avatar/c304884ca1939d211cdda3f873977b6f?s=200" style="padding-bottom:20px">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                    <p style="font-size:18px;">Hello I'm Ben Waters and I'm studing Computer Science at George Mason University and I'm expecting to graduate in 2015. My interests include data mining, health applications, mobile development, and open source software. I actively participate as a developer in George Mason's <a href="http://srct.gmu.edu">Student Run Computing and Technology</a> I work as Software Developer intern at <a href="http://1901group.com"> 1901 Group</a> and help develop their In3Sight Service Monitor in an agile environment. I used to hate Python, but now I'm in love. I love to use the <a href="https://www.djangoproject.com/">Django</a> web framework and am exploring <a href="http://flask.pocoo.org/">Flask</a> (which this site is written in). Within Django, I specialize in creating RESTful API services. I hold a powerful knowledge of stack tools and I am always working on expanding that knowledge.</p>
            </div>
        </div>
{% endblock %}
